@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Cabin", sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}

nav {
  padding: 10px 5vw;
  background-color: antiquewhite;
  border-bottom: 2px solid rgba(2, 2, 2, 0.5);
}

.nav-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
}

.nav-center h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  background-image: url("../assets/images/color-splash.png");
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 10px 10px rgba(120, 117, 165, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px 5vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 30px;
}

.container h2 {
  margin: 20px;
  padding: 20px;
  color: antiquewhite;
  background-color: black;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 0 0 10px rgba(4, 4, 4, 0.9);
}

.btn {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  padding: 10px 0;
  color: black;
  opacity: 0.7;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  width: 30%;
  font-size: 1rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover,
.btn:focus {
  transition: 0.1s ease-in-out;
}

.btn:focus {
  outline: none;
}

@media (min-width: 600px) {
  .nav-center {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  main {
    flex-direction: row;
    padding: 40px 8vw;
  }
  .container {
    max-width: 600px;
    gap: 40px;
  }
  .container h2 {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.1rem;
    width: 20%;
    padding: 12px 0;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 800px;
    gap: 50px;
  }
  .container h2 {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 1.2rem;
    /* max-width: 180px; */
    width: 20%;
    padding: 14px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 60px;
  }
  .container h2 {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.3rem;
    /* max-width: 160px; */
    width: 20%;
    padding: 16px 0;
  }
}
